body{
    background-color: #efe8eb;

}
button{
    background-color: blue;
    color: #fff;
}

button:hover{
    background-color: #282a35;
}
nav{
    background-color: #282a35;
    padding: 20px;
    color: #fff;
}

.space{
    padding: 30px;
}

main{
    border:4px solid  red;
}